@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
:root {
    --primary-color: #101447;
    --primary-color-border: #090b29;
    --secondary-color: #ff8800;
}

body {
    background-color: white;
    margin: 0;
}

h3 {
    text-align: center;
}

button {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00000000;
    font-family: 'Work Sans', sans-serif;
    font-size: 1vw;
    border-radius: 40px;
    padding: 15px;
    height: 30px;
    transform: scale(2);
    transition-duration: 0.5s;
}

button:hover {
    transform: scale(2.5);
}

button:active {
    transform: scale(2.5) translateY(10px);
}


.main-header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    column-gap: inherit;
    border-bottom: 7px solid var(--primary-color-border);
    padding-top: 10px;
}

.voltar {
    border-left: 10px solid transparent;
}

.produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #f7ede2;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    box-shadow: 0 0 10px #000000;
}

.imagem {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;    
    width: 50%;
}   

.info {
    width: 40%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}

.sinopse {
    border-radius: 10px;
    background-color: #f7ede2;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    box-shadow: 0 0 10px #000000;
    padding: 10px 20px 10px 20px;
    font-family: 'Work Sans', sans-serif;
}